.benefits {

    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
       padding-bottom: 94px;
    }
}

.cards-benefits {

    justify-content: center;
    margin: -15px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap; 
    }



    @media screen and (max-width: 767px) {
        &__item:not(:last-child) {
            margin-bottom: 30px; 
            
        }
    }

    &__item {

        // @media screen and (max-width: 767px) {
        //   width: 450px;
        // }

        @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2); 
            margin: 15px; 
        }
    }

    
      
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
      
       background-color: $color-section;
       border-radius: 4px;
       
       height: 120px;
      
       margin-bottom: 30px;
    }
      
    &__subtitle {
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px; 
        padding-bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            text-align: left;
            justify-content: left; 
        }

    
        @media screen and (min-width: 1200px) {
            justify-content: left;
            text-align: left;  
        }
    }
      
    &__text {
        color: $secondary-text-color;
        line-height: 1.71;
        font-weight: 400; 
    }

  
}
  
