.hero {
    // max-width: 1600px;
    // height: 600px;

    max-width: 480px;
    height: 400px;
  
    margin-left: auto;
    margin-right: auto;
    
    background-color: $footer-bg-color;
    color:$bg-color;
    text-align: center;
  
    padding-top: 200px;
    padding-bottom: 200px;

   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url(/images/hero/header_small.jpg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .hero {
            background-image: url(/images/hero/header_small@2x.jpg.jpg);
        }
    }

    @media screen and(min-width: 768px) {
        .hero {
            max-width: 768px;
            height: 400px;
            background-size: cover;
            background-image: url(/images/hero/header_middle.jpg.jpg);
        }

        @media screen and (min-resolution: 2dppx),
            screen and (min-resolution: 192dpi),
            screen and (min-device-pixel-ratio: 2) {
            .hero {
                background-image: url(/images/hero/header_middle@2x.jpg.jpg);
            }
        }
    }

    @media screen and(min-width: 1200px) {
        .hero {
           max-width: 1600px;
            height: 600px;
            background-size: cover;
            background-image: url(/images/hero/header_big.jpg.jpg);
        }

        @media screen and (min-resolution: 2dppx),
           screen and (min-resolution: 192dpi),
           screen and (min-device-pixel-ratio: 2) {
            .hero {
                background-image: url(/images/hero/header_big@2x.jpg.jpg);
            }
        }
    }
        
    
   

    

    &__title {
        max-width: 500px;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.61;
      
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;


        @media screen and(min-width: 1200px) {
            font-size: 44px;
           font-weight: 900;
            line-height: 1.36;
            max-width: 500px;
        }
    }
    
    &__button{
        line-height: 1.87;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: $bg-color;
        background-color: $bg-buttons-color-hover;
        font-family: inherit;
        border-radius: 4px;
        border: none;
        padding: 10px 32px;
      
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
      
    &__button:hover,
    &__button:focus{
        background-color: $hero-button-hover;
        color: $bg-color;
        font-weight: 700;
    }
        
    .carent {
        color: $bg-buttons-color-hover;
    }
}

