
$maim-text-color: rgba(33, 33, 33, 1);
$secondary-text-color: rgba(117, 117, 117, 1);
$bg-color: rgba(255, 255, 255, 1);
$bg-buttons-color-hover: rgba(33, 150, 243, 1);
$hero-button-hover: rgba(24, 140, 232, 1);
$footer-bg-color: rgba(47, 48, 58, 1);
$color-section: rgba(245, 244, 250, 1);
$linear-gradient: rgba(47, 48, 58, 0.4);
$specialization-box-color: rgba(47, 48, 58, 0.8);
$border-color-link: rgba(175, 177, 184, 1); 
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-accession-link: rgba(255, 255, 255, 0.1);
$footer-subscription-input: rgba(255, 255, 255, 0.3);
$header-border-portfolio: rgba(236, 236, 236, 1);
$portfolio-cards-overlay: rgba(33, 150, 243, 0.9);
$portfolio-cards-block: rgba(238, 238, 238, 1);
$form-color: rgba(33, 33, 33, 0.2);
$form-textarea-color:  rgba(117, 117, 117, 0.5);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$backdrop-modal__button: rgba(0, 0, 0, 0.1);
